
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 20px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid var(--vscode-editor-widget-border);
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1em;
    color: var(--vscode-editor-foreground);
    border-bottom: 2px solid transparent;
}

.tab button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.tab button.active {
    border-bottom: 2px solid var(--vscode-tab-activeBorder);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

h3 {
    border-bottom: 1px solid var(--vscode-editor-widget-border);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=text], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid var(--vscode-input-border);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button[type=submit] {
    background-color: var(--vscode-button-background);
}

button[type=submit]:hover {
    background-color: var(--vscode-button-hoverBackground);
}
