
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 20px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

details {
    border: 1px solid var(--vscode-editor-widget-border);
    border-radius: 4px;
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: var(--vscode-side-bar-section-header-background);
}

details[open] > summary {
    border-bottom: 1px solid var(--vscode-editor-widget-border);
}

form {
    padding: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=text], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid var(--vscode-input-border);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button[type=submit] {
    background-color: var(--vscode-button-background);
}

button[type=submit]:hover {
    background-color: var(--vscode-button-hoverBackground);
}
